* {
    font-family: Helvetica;
}

body{
    display: grid;
    justify-content: center;
}

#textarea{
    height: 50vh;
    width: 50vw;
    padding: 10px;
}

#submit{
    width: 60px;
    height: 20px;
}